In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
7 ** 4

2401

In [5]:
2 + 3 * 5 + 5

22

In [6]:
x = "hello world."

In [7]:
print (x)

hello world.

In [8]:
y = "The value of x: {x}";

In [9]:
print (y);

The value of x: {x}

In [10]:
# Comments

In [16]:
y = "The value of x: {x}".format (x = x)

In [17]:
print (y);

The value of x: hello world.

In [18]:
print(y[0:]);

The value of x: hello world.

In [19]:
print(y[2:]);

e value of x: hello world.

In [20]:
print(y[0:3]);

The

In [21]:
print(y[:4]);

The

In [22]:
## ':' is the slicing notation. where [0: 4] denotes upto but not including the char at the 4th index

In [23]:
## Now for lists...

In [24]:
## Lists are similar to arrays

In [25]:
my_list = ['a', 'b', 'c'];

In [27]:
my_list.append('d');

In [28]:
print (my_list);

['a', 'b', 'c', 'd']

In [35]:
def myFunc (param = 'User_input'):
    print (param);

In [36]:
myFunc ('hello');

hello

In [37]:
myFunc();

User_input

In [38]:
## Dictionaries

In [39]:
d = {'key1': 'val1', 'key2':123}

In [40]:
## dictionaries work like hash functions amd maps

In [42]:
d['key2'];

In [43]:
print (d['key2']);

123

In [45]:
d = {'k1': {'innerK': [1, 2, 3]}}

In [46]:
d['k1']['innerK'][1]

2

In [47]:
## tupples

In [48]:
t = (1, 2, 3)

In [49]:
t[0]

1

In [50]:
t = (1, 2, 3, 1)

In [51]:
t[0]

1

In [52]:
t[3]

1

In [53]:
t[3] = "NEW"

TypeError: 'tuple' object does not support item assignment

In [55]:
# Tuples are IMMUTABLE and therefore its values cannot be changed after assignment!

In [56]:
{1, 2, 3}

{1, 2, 3}

In [57]:
{1, 1, 3, 2, 3, 3, 3, 2}

{1, 2, 3}

In [58]:
#SETS are simply curly braces

In [59]:
{1, 2, 2, 3, 3, 3}

{1, 2, 3}

In [60]:
# or alternatively...

In [63]:
set ([1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 4, 4, 5, 5, 6, 6, 6, 3])

{1, 2, 3, 4, 5, 6}

In [64]:
s = {1, 2, 3, 3, 3, 3}

In [65]:
s.add (5)

In [66]:
s

{1, 2, 3, 5}

In [67]:
s.add(5);

In [68]:
s

{1, 2, 3, 5}

In [69]:
# Comparisons

In [70]:
1 > 2

False

In [71]:
1 < 2

True

In [72]:
1 == 2

False

In [73]:
1 == 1

True

In [74]:
1 || 1

SyntaxError: invalid syntax (Temp/ipykernel_107056/3824308907.py, line 1)

In [75]:
1 or 1

1

In [76]:
1 != 1

False

In [77]:
(1 == 1) and (2 == 3)

False

In [78]:
(1 == 1) or (2 == 3)

True

In [79]:
True and True

True

In [80]:
True or False

True

In [81]:
False and False

False

In [82]:
False or False

False

In [84]:
if (1 < 2):
    print ('yep');

yep

In [86]:
if (1 == 2):
    print ('First')
    print ('yep')
else:
    print ('Last')
    print ('nope!')

Last
nope!

In [87]:
if (1 == 2):
    print ('First')
    print ('yep')
elif (3 == 3):
    print ('Middle')
    print ('Maybe?')
else:
    print ('Last')
    print ('nope!')

Middle
Maybe?

In [88]:
if (1 == 2):
    print ('First')
    print ('yep')
elif (4 == 4):
    print ('Second')
    print ('Maybe.')
elif (3 == 3):
    print ('Middle')
    print ('Maybe?')
else:
    print ('Last')
    print ('nope!')

Second
Maybe.

In [89]:
# for loops

In [90]:
x = [0, 2, 3, 5, 1, 3];

In [91]:
for item in x:
    print (item);

0
2
3
5
1
3

In [92]:
# range function

In [97]:
list (range (10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [98]:
for temp in range (0, 5):
    print (temp + 1);

1
2
3
4
5

In [99]:
# "list comprehention"

In [100]:
# this:

In [101]:
out =[];

for num in x:
    out.append (num ** 2);

In [102]:
print (out);

[0, 4, 9, 25, 1, 9]

In [103]:
# with list comprehension... it becomes:

In [104]:
[ (num**2) for num in x ]

[0, 4, 9, 25, 1, 9]

In [105]:
# Think of list comprehension as a for loop, but backwards; 
# in the sense that the operation to be performed is inserted before loop
# declaration

In [106]:
out = [ (num ** 2) for num in x]

In [107]:
print (out)

[0, 4, 9, 25, 1, 9]

In [110]:
def square (num):
    """ 
    THIS IS A DOCSTRING.
    IT IS A MULTI-LINE COMMENT
    IT IS ANYTHING INSERTED BETWEEN TRIPLE QUOTES
    THIS F(X) SQUARES THE PARAM VAL. AND RETURNS IT
    """
    return num**2;

In [111]:
square (2)

4

In [112]:
# in jupyter notebook, to peek func. def., press shift+tab after writing func
# call in the line.

In [113]:
square

In [114]:
# Map and Lambda Functions

In [116]:
def times2(val):
    return val * 2;

In [118]:
times2(2)

4

In [119]:
# map()

In [120]:
seq = [1, 2, 3, 4, 5]

In [125]:
list(map (times2, seq))

[2, 4, 6, 8, 10]

In [126]:
# Lambda expression allows to avoid defining a function when it would be
# redundant to do so

In [128]:
def times2(val) : return (val * 2)

In [129]:
# becomes =>

In [130]:
lambda val: (val*2)

In [131]:
t = lambda val: (val*2)

In [132]:
t(6)

12

In [133]:
# therefore... the map statement could be this as lambda:

In [134]:
list (map ((lambda num: num*3), seq))

[3, 6, 9, 12, 15]

In [136]:
# filter function; similar to map but filters out vals instead of mapping them

In [137]:
filter ((lambda num: num%2 == 0), seq)

In [138]:
list (filter ((lambda num: num%2 == 0), seq))

[2, 4]

In [139]:
# therefore filter() structure for params is filter (<boolean expression>, <collectible>)

In [140]:
# 'in' works like 'has()' function

In [141]:
seq

[1, 2, 3, 4, 5]

In [142]:
'x' in seq

False

In [143]:
'4' in seq

False

In [144]:
4 in seq

True

In [145]:
# tuple unpacking

In [146]:
# imagine 'x' has a list of tuples

In [147]:
x = [(1, 2), (3, 4), (5, 6)]

In [148]:
x[0][1]

2

In [149]:
# now... tuple unpacking....

In [150]:
for item in x:
    print (item);

(1, 2)
(3, 4)
(5, 6)

In [151]:
# becomes:

In [152]:
for (a, b) in x:
    print (b)

2
4
6

In [153]:
# similar to functional programming approach I studied with haskell