In [1]:
import pandas as pd;
import seaborn as sns;
import numpy as np;
import matplotlib.pyplot as plt;
%matplotlib inline

We will be working on an item-similarity (content) based recommendor system

In [2]:
column_names = ['user_id', 'item_id', 'rating', 'timestamp']

In [3]:
# tab separated file: therefore sep = '\t'
df = pd.read_csv('u.data', sep= '\t', names = column_names)

In [4]:
df.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [5]:
movie_titles = pd.read_csv('Movie_id_titles')

In [6]:
movie_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)